<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>Aquí comienza todo</h2>
    <h1 id="login-title">¡Bienvenido!</h1>
  </div>

  <ion-list lines="none">
    <ion-item class="ion-margin-bottom">
      <ion-input 
        label="Usuario" 
        labelPlacement="stacked" 
        [(ngModel)]="usuario" 
        type="text" 
        placeholder="Ingrese su usuario"
        minlength="3"
        maxlength="8">
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input 
        label="Password" 
        labelPlacement="stacked" 
        [(ngModel)]="password" 
        type="password" 
        placeholder="****"
        maxlength="4">
      </ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding-top">
    <ion-button expand="block" shape="round" (click)="ingresar()">
      Ingresar
    </ion-button>
  </div>

  <div class="ion-text-center ion-margin-top">
    <a href="#">Crea tu cuenta gratis</a>
  </div>
</ion-content>